@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: url("./images/bg-intro-mobile.png") hsl(0, 100%, 74%);
}

.container {
  width: 80%;
  margin: 0 auto;
}

.left-container {
  text-align: center;
  margin-top: 85px;
  color: #fff;
}

.right-container {
  text-align: center;
  margin-top: 100px;
}

.strong {
  font-weight: bold;
}

.btn {
  color: #fff;
  background-color: hsl(248, 32%, 49%);
  outline: none;
  border: none;
  border-bottom: 5px solid hsl(249, 10%, 26%);
  line-height: 1.8rem;
  border-radius: 10px;
  width:100%;
  cursor: pointer;
  border:none;
  width: 100%;
  padding: 15px 30px;
}

.btn--green {
  background-color: hsl(154, 59%, 51%);
  border: none;
}

.form {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.form__input {
  margin-bottom: 10px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
}

.form__input::placeholder {
  font-weight: bold;
}
  

.uppercase {
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (min-width: 375px) {
  body {
    background: url("./images/bg-intro-desktop.png") hsl(0, 100%, 74%);
  }

  .container {
    display: flex;
  }

  .left-container{
      display: flex;
      flex-direction: column;
      width: 50%;
      justify-content: center;
      text-align: left;
      padding: 0 30px
  }
}
